.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--secondary-color);
  }
  
  .homepage-container {
    text-align: center;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
  }
  
  .homepage h1 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  
  .homepage p {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .homepage-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .homepage-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .homepage-link:hover {
    background-color: var(--secondary-color);
  }
  